* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

button {
  padding: 0rem 2rem;
}

button:hover {
  background: lightslategray;
}

button:focus {
  background: rgb(54, 116, 54);
}

button:nth-child(3) {
  padding: 2rem 4rem;
}

input:focus {
  background: rgb(54, 116, 54);
}

h1::before {
  content: "~~";
}

h1::after {
  content: "//";
}
