* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 200%;
}

.container {
  background: cadetblue;
  width: 80%;
  height: 80%;
  margin: auto;
  position: relative;
}

.box1,
.box2,
.box3,
.box4 {
  width: 20%;
  height: 20%;
  background: #9b04ff;
}

.box2 {
  background: #04eeff;
  left: 3rem;
}

.box3 {
  background: #28582a;
  position: sticky;
  top: 0%;
}

.box4 {
  background: #363636;
  position: fixed;
  top: 0rem;
  right: 0rem;
}

.box1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
